/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  width: 96%;
  margin: 0 auto;
  padding: 0;
  color: #333;
  background-color: white;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

header,
.hero,
.gallery,
.section,
footer {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px 0;
  padding: 40px;
}

/* 네비게이션 스타일 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 30px;
  border-radius: 10px;
  position: fixed;
  width: 96%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.navbar__logo {
  font-size: 24px;
  color: #333;
}

.navbar__logo a {
  text-decoration: none;
  color: inherit;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar__menu.active {
  display: block; /* 메뉴 활성화 시 블록으로 표시 */
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li a {
  text-decoration: none;
  color: inherit;
}

.navbar__menu li a.active {
  color: #1a871a;
}

.navbar__toggleBtn {
  font-size: 24px;
  color: #333;
  display: none;
}

/* 히어로 섹션 스타일 */
.hero,
.gallery,
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 60px;
}

.hero {
  background: url("./image/9.jpg") no-repeat center center/cover;
  color: #333;
  height: 700px;
}

.hero h2 {
  font-size: 2.5em;
}

.hero p {
  font-size: 1.5em;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  border: 1px solid #333;
  color: #333;
  text-decoration: none;
  border-radius: 20px;
}

/* 갤러리 섹션 스타일 */
.gallery h1,
.section h2 {
  text-align: center;
  margin: 20px 0 10px 0;
}

.section p {
  line-height: 200%;
}

.gallery .container,
.section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.image-item:hover {
  transform: scale(1.05);
}

.image-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

figcaption {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

/* 모달 창 스타일 */
.modal {
  display: none; /* 기본적으로 안보이게 */
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 배경 스크롤 방지 */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  position: fixed;
  bottom: -100%; /* 처음에는 화면 밖에 위치 */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  width: 97%; /* 화면 가로 크기에 맞추어 조정 */
  max-width: 1500px;
  height: calc(100% - 67.5px); /* 화면 높이 - 네비게이션 바 높이 */
  overflow-y: auto; /* 내용이 길어지면 스크롤 가능 */
  animation: slideUp 0.5s forwards; /* 애니메이션 추가 */
  overflow-y: scroll; /* 세로 스크롤을 활성화 */
  scrollbar-width: none; /* Firefox용 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE 및 Edge용 스크롤바 숨기기 */
}

/* Chrome, Safari, Edge, Opera용 스크롤바 숨기기 */
.modal-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* 모달 애니메이션 */
@keyframes slideUp {
  from {
    top: 100%; /* 화면 아래에서 시작 */
  }
  to {
    top: 67.5px; /* 네비게이션 바 아래에 위치 */
  }
}

.modal-content img {
  margin-bottom: 20px; /* 이미지들 사이에 공간 */
}

.modal-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #1a871a; /* 텍스트 색상을 변경하여 강조 */
  text-align: center; /* 제목을 중앙 정렬 */
}

.modal-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444; /* 텍스트 색상 변경 */
  text-align: justify; /* 텍스트를 양쪽 정렬하여 가독성 향상 */
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  margin-bottom: 20px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fa8072;
  font-size: 32px; /* 크기 확대 */
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #ff0000; /* 닫기 버튼 호버 시 색상 변경 */
  text-decoration: none;
  cursor: pointer;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .hero,
  .gallery,
  .section {
    padding: 30px;
  }

  .hero h2 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .gallery .container,
  .section .container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .modal-content {
    width: 95%;
    height: calc(100% - 67.5px); /* 모바일 화면 높이에 맞추기 */
  }
}

@media (max-width: 480px) {
  .gallery .container,
  .section .container {
    grid-template-columns: 1fr;
  }

  .modal-content {
    width: 90%;
    height: calc(100% - 67.5px); /* 모바일 화면 높이에 맞추기 */
  }
}

.section h3 {
  margin: 15px auto;
}

/* 라디오 버튼 숨기기 */
input[id*="answer"] {
  display: none;
}
/* 질문 덩어리 가운데 정렬 */
.accordion {
  width: 60%; /* 화면의 60%로 설정하여 중앙 배치 */
  margin: 0 auto; /* 페이지 가운데 정렬 */
  border-radius: 15px; /* 둥근 모서리 */
  overflow: hidden; /* 둥근 모서리 안에서 내용이 넘치지 않게 */
  border: 1px solid #ddd; /* 질문 덩어리 테두리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
}

/* 각 질문 구별을 위한 선 */
input[id*="answer"] + label {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #ddd; /* 연한 선 추가 */
  color: #333;
  font-weight: 900;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}

/* 마지막 질문의 아래쪽 선 제거 */
input[id*="answer"]:last-of-type + label {
  border-bottom: none;
}

/* 질문과 답변 사이의 전환 애니메이션 */
input[id*="answer"] + label + div {
  max-height: 0;
  transition: all 0.35s;
  overflow: hidden;
  background: #fafafa;
  font-size: 12px;
  padding: 0; /* padding을 0으로 설정해서 초기 크기 제로 */
}

/* 질문이 선택된 경우 */
input[id*="answer"]:checked + label + div {
  max-height: 150px; /* 충분한 높이로 설정 */
  padding: 20px; /* 답변 텍스트에 여백 추가 */
}

/* 아이콘 스타일 (이미지 확인용) */
input[id*="answer"] + label em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  display: inline-block;
  background: url("./image/downArrow.png") 0 0 no-repeat;
  background-size: cover; /* 이미지 크기 맞춤 */
}

#about p {
  text-align: left;
}

/* 전체 섹션 가운데 정렬을 위해 */
.section {
  text-align: center;
}

/* 모바일 대응: 작은 화면에서는 더 좁게 */
@media screen and (max-width: 768px) {
  .accordion {
    width: 90%; /* 작은 화면에서는 더 좁게 */
  }
}

.info__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* 박스 사이 간격 */
  margin-top: 20px;
  margin: 30px auto;
}

.info__box {
  flex-grow: 1; /* 가용 공간을 차지하게 설정 */
  height: 500px; /* 고정된 높이 */
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.info__image {
  width: 100%;
  height: 400px; /* 이미지 높이 고정 */
  object-fit: cover; /* 이미지 비율을 유지하면서 크기에 맞게 자름 */
  border-radius: 10px;
}

.info__box h4 {
  margin-top: 5px;
  font-size: 1.5rem;
}

.info__box p {
  margin-top: 2px;
  font-size: 1rem;
  color: #555;
}

/* Journal 섹션 */
#journalForm {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#journalForm .form-group {
  display: flex;
  flex-direction: column;
}

#journalForm input,
#journalForm textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#journalEntries {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.journal-entry {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.journal-entry h4 {
  margin: 0;
  font-size: 18px;
}

.journal-entry p {
  margin: 5px 0;
  color: #555;
}
