/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  width: 96%;
  margin: 0 auto;
  padding: 0;
  color: #333;
  background-color: white;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

header,
.hero,
.gallery,
.section,
footer {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px 0;
  padding: 40px;
}

/* 네비게이션 스타일 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 30px;
  border-radius: 10px;
  position: fixed;
  width: 96%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.navbar__logo {
  font-size: 24px;
  color: #333;
}

.navbar__logo a {
  text-decoration: none;
  color: inherit;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar__menu.active {
  display: block; /* 메뉴 활성화 시 블록으로 표시 */
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li a {
  text-decoration: none;
  color: inherit;
}

.navbar__menu li a.active {
  color: #1a871a;
}

.navbar__toggleBtn {
  font-size: 24px;
  color: #333;
  display: none;
}

/* 히어로 섹션 스타일 */
.hero,
.gallery,
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 60px;
}

.hero {
  background: url("./image/9.jpg") no-repeat center center/cover;
  color: #333;
  height: 700px;
}

.hero h2 {
  font-size: 2.5em;
}

.hero p {
  font-size: 1.5em;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  border: 1px solid #333;
  color: #333;
  text-decoration: none;
  border-radius: 20px;
}

/* 갤러리 섹션 스타일 */
.gallery h1,
.section h2 {
  text-align: center;
  margin: 20px 0 10px 0;
}

.section p {
  line-height: 200%;
}

.section .container {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.image-item:hover {
  transform: scale(1.05);
}

.image-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

figcaption {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* 모달 창 스타일 */
/* 공통 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  width: 97%;
  max-width: 1500px;
  height: calc(100% - 67.5px);
  overflow-y: auto;
  animation: slideUp 0.5s forwards;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* 모달 애니메이션 */
@keyframes slideUp {
  from {
    top: 100%;
  }
  to {
    top: 67.5px;
  }
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fa8072;
  font-size: 32px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .hero,
  .gallery,
  .section {
    padding: 30px;
  }

  .hero h2 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .gallery .container,
  .section .container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .modal-content {
    width: 95%;
    height: calc(100% - 67.5px); /* 모바일 화면 높이에 맞추기 */
  }
}

@media (max-width: 480px) {
  .gallery .container,
  .section .container {
    grid-template-columns: 1fr;
  }

  .modal-content {
    width: 90%;
    height: calc(100% - 67.5px); /* 모바일 화면 높이에 맞추기 */
  }
}

/* Journal 섹션 */
.journal.container,
.faq-container {
  display: flex; /* 두 섹션을 수평으로 배치 */
  gap: 20px; /* 두 섹션 간의 간격 설정 */
}

.journal-entry {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.journal-entry h4 {
  margin: 0;
  font-size: 18px;
}

.journal-entry p {
  margin: 5px 0;
  color: #555;
}

.form-groups {
  flex: 1; /* 첫 번째 섹션의 너비를 1로 설정 */
}

.journal-entries-section {
  flex: 2; /* 두 번째 섹션의 너비를 2로 설정 (더 넓게) */
}

#journalForm {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#journalForm .form-group {
  display: flex;
  flex-direction: column;
}

#journalForm input,
#journalForm textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#journalEntries {
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* FAQ 스타일 */

.question-form,
#journalEntries {
  border: 1px solid lightgray;
}

.accordion-section {
  margin: 0 10px; /* 좌우 margin을 줄임 */
}

.accordion-section + .question-form {
  margin-top: 10px; /* 두 섹션 사이의 상하 간격을 줄임 */
}

.accordion-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px; /* 아래쪽 여백 */
  text-align: center; /* 중앙 정렬 */
}

.accordion {
  width: 70%;
  margin: 10px auto;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: #4caf50; /* 통일된 배경색 */
  border: 1px solid #4caf50; /* 통일된 테두리 */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: #218838;
}

/* 라디오 버튼 숨기기 */
input[id*="answer"] {
  display: none;
}

input[id*="answer"] + label {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-weight: 900;
  background: #f9f9f9;
  cursor: pointer;
  position: relative;
}

input[id*="answer"]:last-of-type + label {
  border-bottom: none;
}

input[id*="answer"] + label + div {
  max-height: 0;
  transition: all 0.35s;
  overflow: hidden;
  background: #fafafa;
  font-size: 12px;
  padding: 0;
}

input[id*="answer"]:checked + label + div {
  max-height: 150px;
  padding: 20px;
}

input[id*="answer"] + label em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  display: inline-block;
  background: url("") 0 0 no-repeat;
  background-size: cover;
}

.section {
  text-align: center;
}

/* 질문 작성 섹션 */
.question-form {
  flex: 1; /* 질문 작성 섹션의 너비를 1로 설정 */
  margin: auto;
  padding: 20px; /* Padding for spacing */
  background-color: #f9f9f9; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.question-form h2 {
  margin-bottom: 10px;
}

#questionForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#questionForm .form-group {
  display: flex;
  flex-direction: column;
}

#questionForm input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Footer 스타일 */
footer {
  text-align: center;
  padding: 20px;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 10px;
}

footer p {
  margin: 0;
}

/* 모바일 대응: 작은 화면에서는 더 좁게 */
@media screen and (max-width: 768px) {
  .accordion {
    width: 90%; /* 작은 화면에서는 더 좁게 */
  }
}

.info__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* 박스 사이 간격 */
  margin-top: 20px;
  margin: 30px auto;
}

.info__box {
  flex-grow: 1; /* 가용 공간을 차지하게 설정 */
  height: 500px; /* 고정된 높이 */
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.info__image {
  width: 100%;
  height: 400px; /* 이미지 높이 고정 */
  object-fit: cover; /* 이미지 비율을 유지하면서 크기에 맞게 자름 */
  border-radius: 10px;
}

.info__box h4 {
  margin-top: 5px;
  font-size: 1.5rem;
}

.info__box p {
  margin-top: 2px;
  font-size: 1rem;
  color: #555;
}

/* Journal 섹션 */
#journalForm {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#journalForm .form-group {
  display: flex;
  flex-direction: column;
}

#journalForm input,
#journalForm textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #lightgray;
}

#journalEntries {
  margin-top: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.journal-entry {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.journal-entry h4 {
  margin: 0;
  font-size: 18px;
}

.journal-entry p {
  margin: 5px 0;
  color: #555;
}
